@import 'tailwindcss';
@plugin 'tailwind-scrollbar';

@layer utilities {
  .no-spinners::-webkit-outer-spin-button,
  .no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

@theme {
  --breakpoint-3xl: 120rem;
}
